body {
  background-color: #f9e2a3;
}

.distill-site-nav {
  background-color: #2d3285;
  font-family: "Palatino Linotype", serif;
}

h1 {
  color: #28114d;
}

d-title h1{
  font-family: "Times New Roman", Times, serif;
}

d-title p{
  font-family: "Times New Roman", Times, serif;
  color:#28114d;
}

d-article h1{
   font-family: "Times New Roman", Times, serif;
}
